<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <title>Examn unit II</title>
</head>
<body>
    
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Lenguajes web
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

      </div>
  
    </div>

    <!-- <div id="search" class="bd-search">
      <form action="/search" method="POST">
        <div class="field has-addons">
          <div class="control">
            <input class="input is-rounded" type="text" placeholder="Find a note" name="title">
          </div>
          <div class="control">
            <button class="button is-info" type="submit">Find</button>

          </div>
        </div>
      </form>
    </div> -->
  </nav>

<br>
  <div class="container is-max-desktop">
    <h1 class="title is-2">Edit file</h1>
    <div class="card">
      <head class="card-header">


        <form action="/updateFile" method="POST">
          <div class="field has-addons">
            <label class="label">File title</label>
            <input type="text" name="title" value="<%=title%>" hidden>
          </div>
          
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="text" name="newTitle" value="<%=newTitle%>" required>
            </p>
            <p class="control">
              <a class="button is-static">
                .txt
              </a>
            </p>
          </div>

          <div class="field has-addons">
            <label class="label">File content</label>
            
          </div>

          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" name="content" required><%= fileContent %></textarea>
              </div>
            </div>
          </div>
          <br>  

          <div class="control">
            <input class="button is-link" type="submit" value="Update note">
            <a class="button is-primary" href="/" class="card-footer-item">Back home</a>
          </div>
        </form>
      </head>
    </div>
    
    


    <footer class="footer">
      <div class="content">
        <p>© 2021 Tecnológico Nacional de MéxicoInstituto Tecnológico de Colima</p>
        <p>Author: Raymundo Ramos Jimenez</p>
      </div>
    </footer>
    
</body>
</html>